{% extends "base.html" %}


{% block title %}
       O projekcie - Ocena Snu
{% endblock title %}

{% block sub_home %}
    <a class="nav-link" href="{{ url_for('home')}}">Home</a>
{% endblock sub_home %}

{% block sub_about %}
    <a class="nav-link active" aria-current="page" href="{{ url_for('about')}}">O projekcie</a>
{% endblock sub_about %}          

{% block content %}
  <div class="d-flex justify-content-center bg-light"
    style = "
    background-image: url('static/images/background_night.jpg');
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;">
        <div class="row w-50 pt-4 pb-3 d-inline-block">
            <div class = "row w-95 mx-auto">
                <div class="question-answer-container rounded-lg border border-3 mb-4 px-4" style="border-radius: 30px; background-color: #eee5ee; border-color:#855787 !important; opacity: 0.88; filter: brightness(100%);">
                    <div class="question-container pt-3 px-2">
                        <article>
                            <p class="h3 fw-bold pt-2 pb-2"> Projekt </p> 
                             <p class="fs-5 pb-5">
                                Projekt został przygotowany celem gromadzenia danych, które wypełniane są przez użytkowników odwiedzających zaprezentowaną stronę. </br>
                                Następnie zgromadzone dane zostaną przetworzone za pomocą pythonowskiej biblioteki sklearn oraz nowozelandzkiego oprogramowania WEKA
                                i umieszczone na podstronie 'wyniki'.
                            </p>
                            <p class="h3 fw-bold pb-2">Technologie oraz programy wykorzystane do pracy przy projekcie </p>
                            <div class="row pb-5">
                                <div class="col-4 px-2">
                                    <div class="list-group">   
                                        <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary"><p class="text-center"> Flask </p></a>
                                        <a href="https://www.python.org" target="_blank" class="list-group-item list-group-item-action list-group-item-success"><p class="text-center"> Python (sklearn) </p></a>
                                        <a href="https://www.pythonanywhere.com" target="_blank" class="list-group-item list-group-item-action list-group-item-warning"><p class="text-center"> pythonanywhere </p></a>
                                    </div>
                                </div>
                                <div class="col-4 px-0">
                                    <div class="list-group"> 
                                        <a href="https://html.spec.whatwg.org/multipage/" target="_blank" class="list-group-item list-group-item-action list-group-item-danger"><p class="text-center"> HTML </p></a>
                                        <a href="https://www.w3.org/TR/css/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary"><p class="text-center"> CSS </p></a>
                                        <a href="https://getbootstrap.com" target="_blank" class="list-group-item list-group-item-action list-group-item-info"><p class="text-center"> Bootstrap </p></a>
                                    </div>
                                </div>
                                <div class="col-4 px-2">
                                    <div class="list-group"> 
                                        <a href="https://www.mysql.com" target="_blank" class="list-group-item list-group-item-action list-group-item-success"><p class="text-center"> MySQL </p></a>
                                        <a href="https://www.javascript.com" target="_blank" class="list-group-item list-group-item-action list-group-item-warning"><p class="text-center"> JS </p></a>
                                        <a href="https://www.cs.waikato.ac.nz/~ml/weka/" target="_blank" class="list-group-item list-group-item-action list-group-item-danger"><p class="text-center"> WEKA </p></a>
                                    </div>
                                </div>
                            </div>
                            <p class="h3 fw-bold pt-3 pb-5">
                                Zapraszamy do śledzenia postępów naszych prac oraz sprawdzania pierwszych wyników analizy uzyskanych danych w pierwszych tygodniach maja.
                            </h1></p>
                        </article>
                    </div>
                </div>
            </div>                  
        </div>
    </div>
{% endblock content %}
