{% extends "base.html" %}


{% block title %}
       Ocena Snu
{% endblock title %}

{% block sub_home %}
    <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Home</a>
{% endblock sub_home %}

{% block sub_about %}
    <a class="nav-link" href="{{ url_for('about')}}">O projekcie</a>
{% endblock sub_about %}

{% block content %}
    <div class="d-flex justify-content-center bg-light"
    style = "
    background-image: url('static/images/background_night.jpg');
    background-attachment: fixed;
    background-position: center;">
        <div class="row w-50 pt-4 pb-3 d-inline-block d-none d-xxl-block">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class = "row w-95 mx-auto">
                        <div class="question-answer-container rounded-lg border border-3 mb-4" style="border-radius: 30px; background-color: #eee5ee; border-color:#855787 !important; opacity: 0.78; filter: brightness(120%);">
                            <div class="question-container pt-3">
                                <div class="alert-{{category}}">
                                    <p class="fw-bold fs-5 text-center">{{message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" action="./" class="form group text-black">
                {% for question in questions %}
                    <div class="question-answer-container rounded-lg border border-3 mb-4" style="border-radius: 30px; background-color: #eee5ee; border-color:#855787 !important; opacity: 0.78; filter: brightness(120%);">
                        <div class="question-container px-4 pt-3">
                            <p class="h5 fw-bold" style="opacity: 1 !important;">{{ loop.index }}. {{ question.content }}
                            {% if question.type == "choose" %}
                                <span class="text-danger">*</span>
                            {% endif %}     
                            </p>
                        </div>
                        <div class="all_answer-container pb-2">
                        {% for answer in answers %}
                            {% if question.type == "choose" %}
                                {% if answer.question_id == question.id %}
                                    <div class="form-check">
                                        <input class="form" style="opacity: 1 !important;" name="{{question.id}}" value="{{ answer.id }}" type="radio" required>
                                        <label class="form-check-label px-1 py-1" style="opacity: 1 !important;">{{ answer.content }}</label>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if question.type == "check" %}
                                {% if answer.question_id == question.id %}
                                    <div class="form-check">
                                        <input class="form" name="{{question.id}}" value="{{ answer.id }}" type="checkbox" >
                                        <label class="form-check-label px-1 py-1">{{ answer.content }}</label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-dark mx-3 mb-5" style="border-radius: 8px; margin-top:-8px;" type="submit">WYŚLIJ</button>
            </form>
        </div>

        <div class="row pt-4 pb-3 d-inline-block d-xxl-none px-3" style="max-width: 100% !important;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class = "row w-95 mx-auto">
                        <div class="question-answer-container rounded-lg border border-3 mb-4" style="border-radius: 30px; background-color: #eee5ee; border-color:#855787 !important; opacity: 0.78; filter: brightness(120%);">
                            <div class="question-container pt-3">
                                <div class="alert-{{category}}">
                                    <p class="fw-bold fs-5 text-center">{{message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" action="./" class="form group text-black">
                {% for question in questions %}
                    <div class="question-answer-container rounded-lg border border-3 mb-4" style="border-radius: 30px; background-color: #eee5ee; border-color:#855787 !important; opacity: 0.78; filter: brightness(120%);">
                        <div class="question-container px-4 pt-3">
                            <p class="h5 fw-bold" style="opacity: 1 !important;">{{ loop.index }}.{{ question.content }} 
                            {% if question.type == "choose" %}
                                <span class="text-danger" style="letter-spacing:-10px;">*</span>
                            {% endif %}
                            </p>
                        </div>
                        <div class="all_answer-container pb-2">
                            {% for answer in answers %}
                                {% if question.type == "choose" %}
                                    {% if answer.question_id == question.id %}
                                        <div class="form-check" style="display:flex;">
                                            <input class="form mt-2" style="opacity: 1 !important;" name="{{question.id}}" value="{{ answer.id }}" type="radio" required>
                                            <label class="form-check-label px-1 py-1" style="opacity: 1 !important;">{{ answer.content }}</label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if question.type == "check" %}
                                    {% if answer.question_id == question.id %}
                                        <div class="form-check" style="display:flex;">
                                            <input class="form mt-2" name="{{question.id}}" value="{{ answer.id }}" type="checkbox" >
                                            <label class="form-check-label px-1 py-1">{{ answer.content }}</label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <button class="btn btn-dark mx-3 mb-5" style="border-radius: 8px; margin-top:-8px;" type="submit">WYŚLIJ</button>
            </form>
        </div>
    </div>
{% endblock content %}
