{% extends "base.html" %}


{% block title %}
       Error 403
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center"> 
                <div class="row w-50 pt-5 pb-4 d-inline-block">
                    <div class="form group bg-light text-black rounded-lg border border-3 border-secondary">
                        <p class="h3 fw-bold pt-3 pb-2 text-danger text-center"> Nie masz uprawnienień do wejścia na tę stronę (Error 403). </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
